<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{client.id ? "Editar" : "Cadastrar"}}</li>
</ol>
<div class="container">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="success" class="alert alert-success" role="alert">
                    Cliente salvo/atualizado com sucesso.
                </div>
                <div *ngFor="let error of errors" class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="idClient">ID:</label>
                    <input id="idClient" type="text" class="form-control" [ngModel]="client.id" name="id" disabled>
                </div>
    
                <div class="form-group">
                    <label for="nameClient">Nome: *</label>
                    <input id="nameClient" type="text" class="form-control" [(ngModel)]="client.name" name="name" >
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="form-group">
                    <label for="registredTimeClient">Data de Registro:</label>
                    <input id="registredTimeClient" type="text" class="form-control" [ngModel]="client.registredTime" name="registredTime" disabled>
                </div>
    
                <div class="form-group">
                    <label for="cpfClient">CPF:</label>
                    <input 
                            id="cpfClient" type="text" class="form-control" 
                            [(ngModel)]="client.cpf" name="cpf"
                            maxlength="11"
                    >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button *ngIf="!client.id" type="submit" class="bnt btn-success" >
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button *ngIf="client.id" type="submit" class="bnt btn-success">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" class="bnt btn-danger ml-1" routerLink="/clients/list">
                    <i class="fa fa-arrow-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>